<?xml version="1.0"?>
<ruleset name="Timevault">
	<description>WordPress Coding Standards for Timevault (PSR-4 autoloaded classes).</description>

	<file>.</file>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>tests/*</exclude-pattern>

	<arg value="ps"/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>

	<config name="minimum_wp_version" value="6.2"/>
	<config name="testVersion" value="8.1-"/>

	<rule ref="WordPress">
		<!-- PSR-4: Foo.php instead of class-foo.php. -->
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
	</rule>

	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="timevault"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="timevault"/>
				<element value="Timevault"/>
				<element value="TIMEVAULT"/>
			</property>
		</properties>
	</rule>
</ruleset>
